name: ci

on:
  push:
    # paths:
    #   - 'packages/**'
    #   - '.github/workflows/ci.yaml'
  workflow_dispatch:  # 允许手动触发

env:
  PROJECT_NAME: colink
  NPM_CONFIG_REGISTRY: https://registry.npmmirror.com
  PNPM_REGISTRY: https://registry.npmmirror.com

jobs:
  build:
    defaults:
      run:
        working-directory: packages/backend
    runs-on: arc-runner-set

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          always-auth: true
          registry-url: https://npm.midway.run
          scope: '@ruguoapp'

      - name: Install dependencies
        run: npm install
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

      - name: Compile
        run: npm run build
        env:
          NODE_ENV: production

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            registry.jellow.site/iftech/${{ env.PROJECT_NAME }}
          tags: |
            type=sha,prefix=${{ github.head_ref || github.ref_name }}-

      - name: Login to Aliyun
        uses: docker/login-action@v3
        with:
          registry: registry.jellow.site
          username: ${{ secrets.ALIYUN_CR_USERNAME }}
          password: ${{ secrets.ALIYUN_CR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: image=registry.jellow.site/iftech/buildkit:buildx-stable-1

      - name: Build and push
        uses: docker/build-push-action@v5
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.ALIYUN_OSS_ACCESSKEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.ALIYUN_OSS_ACCESSKEY_SECRET }}
        with:
          push: ${{ github.event_name != 'pull_request' }}
          context: packages/backend
          tags: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
          cache-from: type=s3,region=oss-cn-hangzhou,bucket=iftech-github-action-cache,endpoint_url=https://oss-cn-hangzhou-internal.aliyuncs.com
          cache-to: type=s3,region=oss-cn-hangzhou,bucket=iftech-github-action-cache,endpoint_url=https://oss-cn-hangzhou-internal.aliyuncs.com

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Notify JKDPY
        run: |
          curl ${{ secrets.JKDPY_WEBHOOK_URL }} \
            -u ${{ secrets.JKDPY_WEBHOOK_USERNAME }}:${{ secrets.JKDPY_WEBHOOK_PASSWORD }} \
            -d 'image_name=${{ fromJSON(steps.meta.outputs.json).tags[0] }}&branch_name=${{ github.ref_name }}&service_name=${{ env.PROJECT_NAME }}&github_url=${{ github.server_url }}/${{ github.repository }}&commit_message="${{ github.event.head_commit.message }}"'
